<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lyy.keepassa">

  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.ACTION_OPEN_DOCUMENT" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.VIBRATE" />

  <application
      android:name=".base.BaseApp"
      android:allowBackup="true"
      android:extractNativeLibs="true"
      android:hardwareAccelerated="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:networkSecurityConfig="@xml/network_security_config"
      android:resizeableActivity="true"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme.NoActionBar"
      tools:ignore="GoogleAppIndexingWarning">

<!--    android:name=".view.TestActivity"-->
    <activity
        android:name=".view.launcher.LauncherActivity"
        android:configChanges="layoutDirection|locale"
        android:exported="true"
        android:theme="@style/SplashTheme"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize|stateVisible">
      <!-- taskAffinity 指定activity栈，可以使用finishAffinity关闭该栈中的activity -->
      <!--        android:windowSoftInputMode="stateVisible|adjustResize"-->
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="file" />
        <data android:mimeType="*/*" />
        <data android:host="*" />
        <data android:pathPattern=".*\\.kdb" />
        <data android:pathPattern=".*\\..*\\.kdb" />
        <data android:pathPattern=".*\\..*\\..*\\.kdb" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.kdb" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.kdb" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.kdb" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdb" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdb" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdb" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdb" />
        <data android:pathPattern=".*\\.kdbx" />
        <data android:pathPattern=".*\\..*\\.kdbx" />
        <data android:pathPattern=".*\\..*\\..*\\.kdbx" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.kdbx" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.kdbx" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.kdbx" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdbx" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdbx" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdbx" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdbx" />
      </intent-filter>

      <intent-filter tools:ignore="AppLinkUrlError">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="file" />
        <data android:scheme="content" />
        <data android:mimeType="application/octet-stream" />
        <data android:mimeType="application/x-kdb" />
        <data android:mimeType="application/x-kdbx" />
        <data android:mimeType="application/x-keepass" />
        <data android:host="*" />
        <data android:pathPattern=".*" />
        <data android:pathPattern=".*\\.*" />
        <data android:pathPattern=".*\\..*\\.*" />
        <data android:pathPattern=".*\\..*\\..*\\.*" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.*" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.*" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.*" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.*" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.*" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.*" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.*" />
      </intent-filter>

      <!--      桌面快捷菜单-->
      <meta-data
          android:name="android.app.shortcuts"
          android:resource="@xml/shortcuts" />
    </activity>

    <activity
        android:name=".view.search.CommonSearchActivity"
        android:launchMode="singleInstance"
        android:screenOrientation="portrait"
        android:theme="@style/DialogActivityStyle" />


    <activity
        android:name=".service.input.EntryOtherInfoDialog"
        android:launchMode="singleInstance"
        android:screenOrientation="portrait"
        android:theme="@style/DialogActivityStyle" />

    <activity
        android:name=".view.search.AutoFillEntrySearchActivity"
        android:screenOrientation="portrait" />

    <activity
        android:name=".view.create.CreateDbActivity"
        android:launchMode="singleTask"
        android:screenOrientation="portrait" />

    <activity
        android:name=".view.main.MainActivity"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        />

    <activity
        android:name=".view.MarkDownEditorActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateVisible|adjustResize" />
    <activity
        android:name=".view.main.MainSettingActivity"
        android:screenOrientation="portrait" />
    <activity
        android:name=".view.detail.GroupDetailActivity"
        android:screenOrientation="portrait" />
    <activity
        android:name=".view.detail.EntryDetailActivityNew"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.notAnimation" />
    <activity
        android:name=".view.dir.ChooseGroupActivity"
        android:screenOrientation="portrait" />
    <activity
        android:name=".view.setting.SettingActivity"
        android:screenOrientation="portrait" />
    <activity
        android:name=".view.fingerprint.FingerprintActivity"
        android:screenOrientation="portrait" />

    <activity
        android:name=".view.create.entry.CreateEntryActivity"
        android:screenOrientation="portrait" />
    <activity
        android:name=".view.create.GeneratePassActivity"
        android:screenOrientation="portrait" />
    <activity
        android:name=".view.main.QuickUnlockActivity"
        android:launchMode="singleTask"
        android:screenOrientation="portrait" />
    <activity
        android:name=".view.launcher.OpenDbHistoryActivity"
        android:screenOrientation="portrait" />

    <!-- dropbox -->
    <activity
        android:name="com.dropbox.core.android.AuthActivity"
        android:configChanges="orientation|keyboard"
        android:exported="true"
        android:launchMode="singleTask"
        android:screenOrientation="portrait">
      <intent-filter>

        <!-- Change this to be db- followed by your app key -->
        <data android:scheme="db-ib45r6jnfz3oakq" />

        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.BROWSABLE" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <!--   onedrive -->
    <activity
        android:name="com.microsoft.identity.client.BrowserTabActivity"
        android:exported="true"
        android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
            android:host="msal_package_name"
            android:path="/msal_signature_hash"
            android:scheme="msauth" />
      </intent-filter>
    </activity>

    <activity
        android:name=".router.DeeplinkActivity"
        android:exported="true"
        android:noHistory="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
            android:host="com.lyy.keepassa"
            android:scheme="kpa-router" />
      </intent-filter>
    </activity>

    <activity android:name=".util.cloud.google.GoogleAuthActivity" />
    <activity android:name=".util.cloud.google.GoogleSelectFileActivity" />

    <activity
        android:name=".view.QrCodeScannerActivity"
        android:screenOrientation="portrait" />

    <activity
        android:name=".view.collection.CollectionActivity"
        android:screenOrientation="portrait" />

    <service
        android:name=".service.autofill.AutoFillService"
        android:exported="true"
        android:permission="android.permission.BIND_AUTOFILL_SERVICE">
      <meta-data
          android:name="android.autofill"
          android:resource="@xml/auto_fill_service_configuration" />
      <intent-filter>
        <action android:name="android.service.autofill.AutofillService" />
      </intent-filter>
    </service>

    <service
        android:name=".service.input.InputIMEService"
        android:exported="true"
        android:label="@string/ime_label"
        android:permission="android.permission.BIND_INPUT_METHOD">
      <intent-filter>
        <action android:name="android.view.InputMethod" />
      </intent-filter>
      <meta-data
          android:name="android.view.im"
          android:resource="@xml/input_method" />
    </service>


    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.provider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/aria_fileprovider_paths" />
    </provider>

    <!--适配华为（huawei）刘海屏-->
    <meta-data
        android:name="android.notch_support"
        android:value="true" />
    <!--适配小米（xiaomi）刘海屏-->
    <meta-data
        android:name="notch.config"
        android:value="portrait|landscape" />
    <!--全面屏-->
    <meta-data
        android:name="android.max_aspect"
        android:value="2.4" />

    <meta-data
        android:name="design_width_in_dp"
        android:value="411" />
    <meta-data
        android:name="design_height_in_dp"
        android:value="731" />

    <meta-data
        android:name="host_app"
        android:value="app" />
  </application>

</manifest>